/*  Global elements  */
*{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    font-size: 1.7vw;
    margin: 2vh 10vh;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    justify-content: center;
    height: 80%;
    margin-top: 10vh;
}

h1{
    font-size: 2.8vw;
    font-weight: 900;
    margin: 0;
    text-decoration: underline dashed rgb(207, 27, 207);
}

h2{
    font-size: 1.7vw;
    font-weight: 900;
    margin: 0;
}


/*  Class Mods  */

.starting-card{
    display: flex;
    font-size: 1.6vw;
    text-align: center;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.questions-card{
    display: none;
    font-weight: 500;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.highscores-card{
    display: none;
    font-size: 1.6vw;
    font-weight: 600;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.play-again-button{
    margin-left: 8vw;
    font-size: 1.5vw;
    background-color:rgb(207, 27, 207);
    color: white;
    border-radius: 5px;
    padding: .5vh .5vh;
}

.initial-submit-button{
    font-size: 1.5vw;
    background-color:rgb(207, 27, 207);
    color: white;
    border-radius: 5px;
    padding: .5vh .5vh;
}

.highscores-view-hdr{
    font-size: 4vw;
    font-weight: 900;
    margin: 0;
    text-decoration: underline dashed rgb(207, 27, 207);

}

.highscores-view{
    display: none;
    flex-direction: column;
    align-items: center;
}

/*  Id Specific Styles  */
#highscore-ul-view{
    color: black;
}

@keyframes fadeIn{
    0%{ opacity: 0; };
    100%{ opacity: 1; ;}
}

#start-button{
    font-size: 1.5vw;
    background-color:rgb(207, 27, 207);
    color: white;
    border-radius: 5px;
    padding: .5vh .5vh;
}

#selectable-answers li button{
    position: relative;
    bottom: .5vw;
    background-color:rgb(207, 27, 207);
    width: 120%;
    color: white;
    border-radius: 5px;
    padding: .2vw;
    font-size: 1.3vw;
    margin: .5vw;
}

#right-wrong-display{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: #4e4c4c;
    padding-right: 20vw;
    text-decoration: overline solid .5vh;
    font-size: 2.3vw;
}

#start-again{
    font-size: 2.9vw;
}

#play-game-from-hs{
    font-size: 1.5vw;
    background-color:rgb(207, 27, 207);
    color: white;
    border-radius: 5px;
    padding: .5vh .5vh;}


/* Psuedo Class Elements  */
header a:hover{
    text-decoration: underline;
    color: red;
}

#start-button:hover{
    background-color:rgb(129, 39, 129);
    color: white;
}

#selectable-answers li button:hover{
    background-color:rgb(85, 14, 201);
    color: white;
}