/*  Global elements  */
*{
    font-family:Arial, Helvetica, sans-serif;
}

header{
    font-size: 1.7vw;
    margin: 2vh 10vh;
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    color: black;
}

main{
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
}

h1{
    font-size: 2.8vw;
    font-weight: 900;
    margin: 0;
    text-decoration: underline dashed rgb(207, 27, 207);
}

h2{
    font-size: 2vw;
    font-weight: 900;
    margin: 0;
}

/*  Class Mods  */

.starting-card{
    display: flex;
    font-size: 1.6vw;
    text-align: center;
    font-weight: 500;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.questions-card{
    display: none;
    font-weight: 500;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}

.highscores-card{
    display: none;
    font-size: 1.6vw;
    font-weight: 600;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}


/*  Id Specific Styles  */
#start-button{
    background-color:rgb(207, 27, 207);
    color: white;
    border-radius: 5px;
    padding: .5vh .5vw;
}

#selectable-answers li button{
    background-color:rgb(207, 27, 207);
    width: 120%;
    color: white;
    border-radius: 5px;
    padding: .5vh .5vw;
    margin: .3vh .3vh;
    font-size: 1.3vw;
}


/* Psuedo Class Elements  */
header a:hover{
    text-decoration: underline;
    color: red;
}

#start-button:hover{
    background-color:rgb(129, 39, 129);
    color: white;
}

#selectable-answers li button:hover{
    background-color:rgb(85, 14, 201);
    color: white;
}